/*aqui pegamos el enlace de googlefonts, y la importamos*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body{
	/*background-color: #eee;*/
	background-color: black;
	color: #026564;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/*cargamos la fuente de googlefonts*/
	/*font-family: 'Montserrat', sans-serif;*/
}

a{
	text-decoration: none;
	color: dodgerblue;
}

a:hover{/*hover se usa para identificar cuando pasas el cursor
	encima del enlace*/
	text-decoration: none;
	color: #ffc65b;
}

img{
	width: 100%;
}

#navbar {
	background-color: #000;
	position: sticky;/*coloca el navbar encima de los demás
	elementos*/
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}

#navbar ul{/*barra de navegación / lista desordenada*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.lista-sm{
	display: block;
}

#navbar li{/*Barra de navegación / lista*/
	float: left;/*esto ordena los elementos de la lista uno al 
	lado del otro*/
}

#navbar li a{/*navbar / lista / enlaces*/
	padding: 20px;/*le da espacio a los elementos de la
	lista de la nav bar*/
	display: inline-block;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	/*color: aliceblue;*/
	color: #ffc65b;
}

#navbar li a:hover{/*cuando pasemos el cursor encima de los enlaces
	del navbar*/
	background-color: #ffc65b;
	color: #026564;
}

/*Creamos una clase para identificar el enlace de la página
donde nos encontramos*/
#navbar li.active a{
	/*display: none;*/
	color: white;
	pointer-events: none;
}

#navbar li.active a:hover{
	background-color: black;
}

.redes-sociales {
	float: right;
} 

.redes-sociales li a {
	height: 60px;
	width: 60px;
}

.redes-sociales img {
	height: 30px;
	width: 30px;
}

.redes-sociales li a:hover {
	background-color: black;
}

h1{
	font-size: 22px;
	color:#ffc65b;
	position: relative;
	height: 60px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px 10px;
	float: left;
	font-family: 'handlee';
}

h2 {
	color: #ffc65b;
	font-family: 'handlee';
}

h3 {
	color: white;
}

form {
	max-width: 750px;
	border: 1px solid #ffc65b;
	border-radius: 10px;
	margin: 0 auto;
}

form div{
	padding: 15px;
}

input {
	width: 90%;
	display: block;
}

button {
	width: 90%;
}

textarea{
	width: 90%;
	display: block;
}

.myicono {/*icono de barras(le llaman hamburguesa) de menú*/
	color: #ffc65b;
	font-size: 1.5em;
	padding: 10px;
	display: none; /*desaparece la hamburguesa*/
}

.logo{
	padding: 10px;
	display: block;
	height: 60px;
	width: 60px;
	float: left;
	position: relative;
}

#content {/*El bloque div*/
	/* max-width: 1180px; */
	position: relative;
	flex-direction: column;
	top: 0;
	margin: 0;/*lo centra*/
	background-color: black;
	padding: 2%;
}

header{
	/* padding-top: 1px; */
	display: flex;
	margin-top: 0;
	/* height: 20px; */
	height: auto;
	/*padding: 10px 20px;*/
	/*background-color: #ddd;*/
/* 	background-color: #026564; */

}
.contenedor {
	position: relative;
	display: inline-block;
}

.boton-accion {
	position: absolute;	
	top: 85%;
	width: 100%;
	float: left;
	z-index: 2;
	text-align: center;
}

.boton-accion a {
	font-size: 14 px;
	background: black;
	color: #ffc65b;
	padding: 15px 25px;
	border-radius: 2em;
}

.boton-accion a:hover {
	 opacity: 0.5;
	 border: 2px solid black;
 }

.texto-encima-cabecero {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: black;
	font-family: monospace;
	font-size: 16px;
}

/*Estas son las secciones centrales de la página
___________________________________
|seccion1(principal)    |aside    |
|         80%           |   20%   |
|_______________________|_________|*/
#principal {
	/*border: 1px solid;*/
	width: 80%;
	float: left;/*con esto juntamos las secciones*/
	padding: 5px;
}

#content aside {
	width: 20%;
	float: left;/*con esto juntamos las secciones*/
	padding: 5px;
}

footer {
	color: #ffc65b;
	clear: both;/*se borran los flags para que se resetee y no
	se pegue a las secciones de arriba*/
	width: 100%;
	background-color: #026564;
	text-align: center;
	height: 100px;
	padding: 25px;
}

.imagen-cabecero {
	width: 100%;
	margin: 0;
	text-align: right;
}


/*con media query podemos hacer cambios dinámicos*/
@media screen and (max-width: 820px){/*si es menor o igual a 820px 
	cambia el color del background*/
	/*body{
		background-color: aqua;
	}*/
	#content{
		padding: 0;
		max-width: 100%;
	}

	#content header{
		padding: 0;
		border-radius: 0;
	}

	#principal {
		padding: 3%;
		width: 85%;
	}

	#secundario {
		float: right;
		padding: 3%;
		width: 45%;
	}

	#content aside{
		clear: both;
		padding: 5%;
		width: 100%;
	}

	footer{
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 600px){
	#content{
		width: auto;
	}

	#principal {
		width: auto;
		float: none;
		margin: 0px;
	}

	#secundario {
		width: auto;
		float: none;
		margin: 0px;
	}

	#content aside{
		padding: 0;
		width: auto;
	}

	footer {
		width: auto;
	}

	.lista-sm{/*la lista ul dentro del navbar*/
		display: none;
	}

	.redes-sociales {
		display: none
	}

	#navbar li{
		float: none;
		display: block;
	}

	#navbar li a{
		padding: 5px;
		text-align: left;
		width: 100%;
	}

	.logo{
		margin-top: 1px;
	}

	.texto-encima-cabecero {
		top: 90%;
		font-size: 8px;
	}

	.boton-accion {
		top: 83%;
		font-size: 8px;
	}

	.boton-accion a {
		padding: 8px;
	}

	.myicono{
		display: block;/*muestra el icono hamburguesa*/
		text-align: right;/*alínea el ícono a la derecha*/
	}
}

